/*reglas
selectores
declaraciones
propiedades
valores
*/

header {
  background: pink;
}

/*selector de etiqueta header,section,nav*/
/*selector descendente */
/* body header div nav ol li a{} */

/* selector de clase */
/*.link {}*/

/*selector de id*/
/* #portafolio */

body {
  font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2,
h3 h4,
h5,
h6 {
  font-family: 'Fjalla One', sans-serif;
  font-weight: 400; /*400 su shortcut es normal */
  /*font-style: italic; cursiva de forma virtual, falta imoirtar la fuente de este tipo*/
}
h1 {
  font-size: 40px;
  line-height: 1.5; /*150%*/
  letter-spacing: -0.2px; /* 20% de un pixel menos*/
  /* text-transform: capitalize; uppercase, lowercase,etc*/
  /* text-decoration: underline; */
}
.hero {
  height: 300px;
}
.project-details {
  width: 500px;
}
.project-imageContainer {
  width: 500px;
}
